body {
    background-color: #ffffff;
    color:            #46494c;
    font-family:      "Trebuchet MS", "Lucida Sans Unicode", arial, helvetica, sans-serif;
    padding-left:     1em;
}

.main {
    width: 50em;
}

.footer {
    width: 50em;
    padding-left: auto;
    padding-right: auto;
}

h1 {
    text-align: center;
}

.text {
    text-align: justify;
}

.footer {
    text-align: center;
}

