[% META title = "Welcome to MAGE-TAB Utilities" %] 
<p>Here you will find All Things MAGE-TAB.</p> 
<p>From here, you can: 
<ul> 
<li><a href="[% c.uri_for('/investigation/list') %]">List all investigations</a></li> 
<li><a href="[% c.uri_for('/investigation/add') %]">Add a new investigation</a></li> 
</ul> 
</p>
