
html {
    height: 100%;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Gill Sans", "Trebuchet MS", "Lucida Sans Unicode", arial, helvetica, sans-serif;
}

#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.col.line %];
    text-align: center;
}

#footer {
    background-color: [% site.col.head %];
    text-align: center;
    border-top: 1px solid [% site.col.line %];
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 4px;
}

#content {
    padding: 10px;
}

.title, .nav {
    text-align: center;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

td {
    background-color: [% site.col.head %];
    border: 1px solid [% site.col.line %];
}

th {
    background-color: [% site.col.page %];
}

td, th {
    padding: 2px;
}

.objectView th {
    vertical-align: top;
    text-align: right;
    padding-right: 4px;
    width: 200px;
}

.objectView td {
    vertical-align: top;
    text-align: left;
    width: 650px;
}

fieldset {
    width: 50em;
    border: 1px solid [% site.col.line %];
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
